nav.navbar.navbar-default( role="navigation" )
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="/") Home

    #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav
            li: a( href="/upload" ) Upload file
            li: a( href="/list" ) List files
