extends layout

block content
    h1= title
    p Welcome to #{title}

    -var files = filesInfo
    div
        table.table.table-hover
            thead
                tr: th Uploaded files
                tr
                    td #[strong ID]
                    td #[strong Name]
                    td #[strong md5 hash]
                    td #[strong Timestamp]
                    td #[strong File ID]
                    td #[strong Download]
            tbody
                each fileInfo in files
                    tr
                        td=fileInfo.id
                        td=fileInfo.name
                        td=fileInfo.hash
                        td=fileInfo.date
                        td=fileInfo.fileId
                        td
                            form(action='/download/' + fileInfo.fileId + '/' + fileInfo.name,
                            method='get' enctype="multipart/form-data")
                                input(type='submit' value='Download')




