extends layout

block content
    h1= title
    p Welcome to #{title}

    form(action='/upload/file_upload', method='post' enctype="multipart/form-data")
        input(type='file' name='file' size='50')
        br
        input(type='submit' value='Upload file')

    p #{response}
